<% if admin_user_signed_in? %>
  <div class="w-64 bg-gray-900 text-white flex flex-col">
    <%= link_to admin_root_path, class: 'p-4 text-center font-bold text-lg border-b border-gray-700' do %>
      Admin Dashboard
    <% end %>

    <nav class="flex-1 p-4 space-y-2">
      <%= link_to 'Dashboard', admin_root_path, class: "block py-2 px-3 rounded" %>

      <% Admin::SidebarHelper::MENU_LISTS.each do |role| %>
        <div class="space-y-1" data-controller="dropdown">
          <button class="w-full text-left py-2 px-3 rounded hover:bg-gray-700 flex justify-between items-center" data-action="click->dropdown#toggle">
            <%= role[0].capitalize %>
            <%= image_tag("dropdown.svg", alt: "Setting Icon") %>
          </button>
          <div data-dropdown-target="dropdown" class="space-y-1 pl-4 <%= menu_switch(:student, controller_name) %>">
            <% Admin::SidebarHelper::MENU_LISTS[role[0]].each do |list| %>
              <%= link_to "#{list.singularize.titleize} Lists", send("#{list}_path"),
                          class: "block py-1 px-3 rounded #{is_active(list)}" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= link_to 'Sign Out', destroy_admin_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to logout?' }, class: 'block py-2 px-3 rounded hover:bg-gray-700' %>
    </nav>
  </div>
<% end %>