<div class="home-page">
  <aside>
    <div class="home-page-sidebar">
      <%= link_to 'Test', student_root_path, class: "" %>
      <%= link_to 'Test', student_root_path, class: "" %>
      <%= link_to 'Test', student_root_path, class: "" %>
      <%= link_to 'Test', student_root_path, class: "" %>
      <%= link_to 'Test', student_root_path, class: "" %>
      <%= link_to 'Test', student_root_path, class: "" %>
      <%= link_to 'Test', student_root_path, class: "" %>
    </div>
  </aside>
0
  <section>
    <h1>Welcome to Election <%= Date.current.year %></h1>
  </section>
</div>