<div class="form-container">
  <!-- Form Card -->
  <div class="bg-white rounded-lg shadow-sm overflow-hidden">
    <!-- Form Header -->
    <div class="form-card-heade">
      <div class="page-header">
        <h1>
          <%= action_name.capitalize %> Organization
        </h1>
        <%= link_to organizations_path,
                    class: "button-back" do %>
          <%= image_tag 'admin/back-button.svg', class: 'w-4 h-4 mr-1.5' %>
          Back
        <% end %>
      </div>
    </div>

    <!-- Form Content -->
    <div class="px-6 py-6">
      <%= form_with model: @organization, url: url, method: method, class: "space-y-6",
                    data: { controller: "form", action: "turbo:submit-start->form#submitting" } do |form| %>

        <!-- Organization Name -->
        <div class="form-group" data-controller="input">
          <%= form.label :name, class: "form-label" %>
          <div class="relative rounded-md shadow-sm">
            <%= form.text_field :name, class: "input-field", placeholder: "Enter organization name",
                                data: { action: "input->input#validate", input_target: "field" } %>
          </div>
        </div>

        <!-- Organization Code -->
        <div class="form-group" data-controller="input">
          <%= form.label :code, class: "form-label" %>
          <div class="relative rounded-md shadow-sm">
            <%= form.text_field :code, class: "input-field", placeholder: "Enter organization code",
                                data: { action: "input->input#validate", input_target: "field" } %>
          </div>
        </div>

        <div class="form-actions">
          <%= link_to 'Cancel', back_url, class: 'button-cancel' %>

          <%= form.submit submit_text, class: "button-submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
