<div class="max-w-4xl mx-auto p-6 bg-gray-100 rounded-lg shadow-md">
  <h1 class="text-2xl font-bold mb-4">Student Organizations</h1>
  <div class="mb-4">
    <%= link_to 'Add Organization', new_organization_path, class: 'inline-block px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
  </div>

  <div class="space-y-4">
    <% @organizations.each do |organization| %>
      <div class="p-4 bg-white rounded-lg shadow">
        <h2 class="text-xl font-semibold text-gray-800 mb-2">Name: <span class="font-normal"><%= organization.name %></span></h2>
        <p class="text-gray-600 mb-2">Code: <span class="font-normal"><%= organization.code %></span></p>
        <p class="text-gray-600 mb-2">Organization Members:</p>

        <div class="mb-2">
          <%= link_to 'Add Members', new_organization_member_path(organization), class: 'inline-block px-3 py-1 bg-blue-500 text-white text-sm rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400' %>
        </div>

        <table class="text-gray-800 mb-4 border-0">
          <tbody>
          <% organization.members.each do |member| %>
            <tr class="border-0">
              <td class="px-4 py-2"><%= member.user.username %></td>
              <td class="px-4 py-2">
                <%= link_to 'Remove', organization_member_path(organization, member), data: { turbo_confirm: 'Are you sure you want to remove this member?', turbo_method: :delete }, class: 'inline-block px-2 py-1 bg-red-500 text-white text-sm rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>


        <div class="flex space-x-2">
          <%= link_to 'Edit', edit_organization_path(organization), class: 'inline-block px-3 py-1 bg-yellow-500 text-white rounded-md hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-400' %>
          <%= button_to 'Delete', organization_path(organization), method: :delete, data: { confirm: 'Are you sure?' }, class: 'inline-block px-3 py-1 bg-red-600 text-white rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
