<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_title %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="flex h-screen bg-gray-100 font-sans" data-controller="sweet-alert" data-sweet-alert-controller-path-value="<%= "#{request.base_url}/#{controller_name}" %>">
      <%= render 'layouts/admin/sidebar' %>

      <div class="flex-1 flex flex-col">
        <%= render 'layouts/flash' %>
        <%= render 'layouts/admin/navbar' %>

        <main class="flex-1 p-6 overflow-y-auto">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
