<!DOCTYPE html>
<html>
  <head>
    <title>System Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'layouts/admin/navbar' %>
    <%= render 'layouts/flash' %>

    <div class="flex min-h-screen bg-gray-100">
      <%= render 'layouts/admin/sidebar' %>
      <main class="flex-1 p-8 max-w-4xl mx-auto bg-gray-100">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
